<footer class="site-footer">
  <div class="footer-copy">
    &copy; 2026 {{ site.name }}. Built using modern native web standards.
  </div>
  <div class="footer-nav">
    <a href="{{ site.socials.linkedin }}" target="_blank" rel="noopener"
      aria-label="LinkedIn, opens in a new tab">LinkedIn</a>
    <a href="{{ site.socials.github }}" target="_blank" rel="noopener"
      aria-label="GitHub, opens in a new tab">GitHub</a>
    <a href="mailto:{{ site.author.email }}" aria-label="Send Email">Email</a>
  </div>
</footer>