---
layout: layouts/base.html
title: Digital Accessibility Blog
---
<section class="hero">
  <h1>Hi, I'm {{ site.author.name }}</h1>
  <p class="page-intro">
    {{ site.author.bio }}
  </p>
</section>

<section aria-labelledby="recent-articles" class="recent-posts section-spaced">
  <h2 id="recent-articles">Recent Articles</h2>
  <ul class="post-list">
    {% assign recent_posts = collections.posts | reverse %}
    {% for post in recent_posts limit:2 %}
    <li class="post-item">
      <h3 class="item-title">
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </h3>
      <div class="item-meta">
        Published on <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | postDate }}</time>
      </div>
      <p class="item-description">{{ post.data.description }}</p>
    </li>
    {% else %}
    <li class="text-muted">No posts published yet.</li>
    {% endfor %}
  </ul>
  <p><a href="/blog/">View all articles &rarr;</a></p>
</section>

<section aria-labelledby="speaking" class="upcoming-talks section-spaced">
  <h2 id="speaking">Speaking</h2>
  <ul class="talk-list">
    {% assign recent_talks = collections.talks | reverse %}
    {% for talk in recent_talks limit:2 %}
    <li class="talk-item">
      <h3 class="item-title" id="talk-title-{{ forloop.index }}">
        {% if talk.data.upcoming %} <span class="badge badge-upcoming">Upcoming</span> {% endif %}
        {{ talk.data.title }}
      </h3>
      <div class="item-meta"> <strong>{{ talk.data.event }}</strong> &bull; {{ talk.date | postDate }} &bull; {{
        talk.data.location }}
      </div>
      <p class="item-description">{{ talk.data.description }}</p>
      <p><a aria-labelledby="talk-link-{{ forloop.index }} talk-title-{{ forloop.index }}" id="talk-link-{{ forloop.index }}"
          href="{{ talk.url }}">View
          talk &rarr;</a></p>
    </li>
    {% endfor %}

  </ul>
  <p><a href="/talks/">View all talks &rarr;</a></p>
</section>