---
layout: layouts/base.html
title: Talks
permalink: /talks/
description: List of public speaking engagements, panels, and workshops by Glafira Zhur.
---
<h1>Talks</h1>
<p class="page-intro">
  Sharing my findings, experiments, and techniques on digital accessibility and front-end development at meetups and
  conferences.
</p>
<ul class="talk-list">
  {% assign sorted_talks = collections.talks | reverse %}
  {% for talk in sorted_talks %}
  <li class="talk-item">
    <h2 class="item-title">
      {% if talk.data.upcoming %}<span class="badge badge-upcoming">Upcoming</span> {% endif %}
      <a href="{{ talk.url }}">{{ talk.data.title }}</a>
      </h3>
      <div class="item-meta">
        <strong>{{ talk.data.event }}</strong> &bull; {{ talk.date | postDate }} &bull; {{ talk.data.location }}
      </div>
      <p class="item-description">{{ talk.data.description }}</p>
      <div class="talk-links">
        {% if talk.data.links.video and talk.data.links.video != "#" %}<a href="{{ talk.data.links.video }}">Video</a>{%
        endif %}
        {% if talk.data.links.slides and talk.data.links.slides != "#" %}<a
          href="{{ talk.data.links.slides }}">Slides</a>{% endif %}
      </div>
  </li>
  {% endfor %}
</ul>